/* Body Container */

.tabs {
    width: 914px;
    height: 160px;
    display: flex;
    margin: 100px auto 55px auto;
    position: relative;
    border-radius: 5px;
    background: #f5f5f5;
    box-shadow: 0 2px 6px rgba(152, 152, 152, 0.4);
}

.tabItems {
    width: 177px;
    margin: 0 1px;
    padding: 20px 25px;
    background: white;
}

.tabItems img {
    width: 80px;
    height: 80px;
    display: block;
    margin: 8px auto;
}

.tabItems:first-child {
    margin: 0 1px 0 0;
    border-radius: 5px 0 0 5px;
}

.tabItems:last-child {
    margin: 0 0 0 1px;
    border-radius: 0 5px 5px 0;
}

.tabItemTexts {
    text-align: center;
    font-family: BrandonMed;
}

/* sort option */

.sort {
    top: -30px;
    left: 965px;
    width: 145px;
    font-size: 13px;
    position: relative;
    font-family: BrandonMed;
}

.sort span {
    color: #9b94f3;
}

.sort img {
    width: 10px;
    height: 10px;
    margin-bottom: -2px;
}

/* Card Style */

.bodyContainer {
    background-color: #f8f8f8;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}


/* Footer Style */

.footer {
    width: auto;
    height: auto;
    display: flex;
    padding: 30px 100px;
    background-color: black;
}

.footer .med {
    color: white;
    font-size: 13px;
    font-family: BrandonMed;
}

.footer .reg {
    font-size: 12px;
    color: lightgray;
    font-family: BrandonReg;
}

.footer ul {
    margin-left: -40px;
}

.footer li {
    margin-bottom: 5px;
    list-style-type: none;
}

#companyLogo {
    width: 90px;
}

#companyName {
    margin: 7px 0 17px 0;
}

#companyAddress {
    line-height: 110%;
}

.fCont1 {
    width: 250px;
}

.fCont1 div {
    margin-bottom: 8px;
}

.fTitle {
    font-weight: bold;
    margin-bottom: 17px;
    font-size: 12px !important;
}

.fCont1, .fCont2, .fCont3 {
    margin-right: 160px;
}