body {
  margin: 0;
  padding: 0;
}

/* Fonts */

@font-face {
  font-family: 'SofiaProSemiBold';
  src: url('./fonts/Sofia_Pro_SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'BrandonReg';
  src: url('./fonts/Brandon_regular.otf') format('opentype');
}

@font-face {
  font-family: 'BrandonMed';
  src: url('./fonts/Brandon_medium.otf') format('opentype');
}

@font-face {
  font-family: 'BrandonRegItl';
  src: url('./fonts/Brandon_regular_italic.otf') format('opentype');
}